.price-home__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 130px;
  margin-top: 40px;
}
.selecter__btn {
  cursor: pointer;
  margin-top: 30px;
}
.selecter__paginations {
  margin-top: 25px;
}
.selecter__paginations,
.selecter__paginations span {
  letter-spacing: -2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #868686;
}
.selecter .selecter-item {
  display: none;
}
.selecter .selecter-item.active {
  display: block;
}
.selecter .selecter-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #303030;
  margin-bottom: 15px;
  margin-top: 15px;
}
.selecter .selecter-item__block {
  margin: 5px 0px;
}
.selecter .selecter-item__label {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #868686;
  padding-left: 30px;
}
.selecter .selecter-item__label:before {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: none;
  border: 1px solid #D7D7D7;
  border-radius: 50%;
  left: 0px;
  top: 4px;
}
.selecter .selecter-item__input--radio {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.selecter .selecter-item__input--radio:checked + label:before {
  border: 5px solid #303030;
}
.selecter .selecter-item__input--text {
  width: 45px;
  height: 45px;
  border: 1px solid #D7D7D7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 0px;
}
.selecter .selecter-item__middle {
  margin: 0px 15px;
}
.complections__price {
  font-weight: 400;
  font-size: 26px;
  line-height: 113%;
  color: #303030;
  margin-top: 25px;
}
.complections__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 5px;
  color: #868686;
}
.complections__btnfinal {
  margin-top: 30px;
}
/* ABOUTE PRICE */
.aboute-price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}
.aboute-price__right {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #555555;
  max-width: 735px;
  width: 100%;
}
.aboute-price__superTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #303030;
  margin: 25px 0px;
}
.aboute-price .aboute-price-grid {
  display: grid;
  grid-gap: 27px;
  grid-template-columns: repeat(3, 1fr);
}
.aboute-price .aboute-price-grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #555555;
}
.aboute-price .aboute-price-grid_first {
  border-top: 1px solid #868686;
  padding-top: 20px;
}
.aboute-price .aboute-price-grid_last {
  border-bottom: 1px solid #868686;
  padding-bottom: 20px;
}
.aboute-price .aboute-price-grid_last .aboute-price-grid__item {
  border-top: 1px solid #868686;
  margin-top: 20px;
  padding-top: 20px;
}
@media (max-width: 1235px) {
  .price-wrapper__image img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .price-home__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    border: none;
  }
  .aboute-price__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .aboute-price__right {
    font-size: 16px;
    line-height: 24px;
  }
  .aboute-price .aboute-price-grid {
    grid-template-columns: 1fr;
  }
  .aboute-price .aboute-price-grid__item {
    font-size: 16px;
    line-height: 24px;
  }
  .aboute-price .aboute-price-grid_last .aboute-price-grid__item {
    border: none;
  }
  .aboute-price .aboute-price-grid_last .aboute-price-grid__item {
    margin: 0px;
    padding: 0px;
  }
}
