*, *::before, *::after {
  box-sizing: border-box;
  transition: all 0.5s;
}

body {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #d6d6d6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @main-color;
    border-radius: 3px;
  }
}

input, textarea, button {
  font-family: "Rubik", sans-serif;
  outline: none;
  font-weight: 400;
  transition: all 0.2s;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  width: 1235px;
  margin: 0 auto;
  padding: 0 15px;
}
.lg-backdrop {
  background: rgba(0, 0, 0, .5);
  z-index: 99;
}
.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-top: -10px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 50%;
  z-index: 1080;
}

@main-color: #FBB829;
@text-color-black: #303030;
@text-color-white: #F9F9F9;

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: @main-color;
  border: 1px solid @main-color;
  color: @text-color-black;
  transition: all 0.2s;
  padding: 15px 20px;
  &:hover{
    background: @text-color-black;
    border: 1px solid @text-color-black;
    color: @text-color-white;
  }
}
.btn-main-secondary{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: @text-color-black;
  border: 1px solid @text-color-black;
  color: @text-color-white;
  transition: all 0.2s;
  padding: 15px 20px;
  &:hover{
    background: @main-color;
    border: 1px solid @main-color;
    color: @text-color-black;
  }
}

.h1-banner{
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  color: #F8F8F8;
  &_smal{
    font-size: 42px;
    line-height: 120%;
  }
}
.h1-block{
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 115%;
  text-transform: uppercase;
  color: @text-color-black;
  &_column{
    flex-flow: column-reverse;
    align-items: flex-start;
  }
  &__line{
    display: block;
    width: 85px;
    height: 3px;
    background: @text-color-black;
  }
}
.h2{
  font-weight: 400;
  font-size: 26px;
  line-height: 113%;
  color: #000000;
}
.df-center{
  display: flex;
  align-items: center;
}
.df-center-sb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m150{
  margin: 150px 0;
}

.fade,
.menu-overlay{
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-thanks {
  z-index: 99;
  width: 550px;
  background-color: #FFFFFF;
  position: fixed;
  top: 5%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);
  display: none;
  padding: 135px 110px;
  min-height: 380px;
  border: 1px solid #D7D7D7;
  &__title{
    padding-bottom: 20px;
    position: relative;
    &:after{
      content: "";
      width: 130px;
      height: 2px;
      display: block;
      margin: 20px auto 0;
      background: @main-color;
    }
  }
}
.modal {
  z-index: 99;
  width: 550px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  position: fixed;
  top: 5%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);
  display: none;
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    &-icon{
      color: @main-color;
      transform: rotate(45deg);
      transition: all 0.2s;
      &:hover{
        color: @text-color-black;
      }
    }
  }
  &__title{
    display: block;
    margin: 0 0 40px;
  }
  &__group{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 0 0 60px;
  }
  &__form {
    display: flex;
    flex-flow: column;
    padding: 50px 50px 60px;
    width: 100%;
    &-input {
      width: 100%;
      height: 30px;
      background: #FFFFFF;
      border: none;
      border-bottom: 1px solid #D7D7D7;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #868686;
      &::placeholder {
        color: #828282;
      }
      &.error {
        border-bottom: 1px solid red;
      }
      &.valid {
        border-bottom: 1px solid #00963F;
      }
    }
    &-btn {
      margin: 0 auto;
    }
  }

}

.up {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: @main-color;
  position: fixed;
  left: 30px;
  bottom: 30px;
  border-radius: 50px;
  z-index: 9;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    width: ~"calc(100% + 20px)";
    height: ~"calc(100% + 20px)";
    background-color: @main-color;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.2;
    color: #ffffff;
    animation: circleFill 2.2s infinite ease-in-out;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    width: ~"calc(100% + 40px)";
    height: ~"calc(100% + 40px)";
    border: 1px solid @main-color;
    border-radius: 50%;
    z-index: -1;
    animation: circle 2.2s infinite ease-in-out;
  }
}
@-webkit-keyframes circleFill {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.2;
  }
}
@keyframes circleFill {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.2;
  }
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.01;
  }
  30% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.01;
  }
}
@keyframes circle {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.01;
  }
  30% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.01;
  }
}


.header{
  position: relative;
  z-index: 10;
  background: #F9F9F9;
  &__row{
    padding: 10px 0;
  }
  &__phone{
    gap: 5px;
    margin: 0 20px 0 0;
    &-link{
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #303030;
      &:hover{
        color: @main-color;
      }
    }
  }
}
.menu{
  &__item{
    position: relative;
    padding: 30px 13px;
    &:hover .menu__link{
      color: @main-color;
    }
  }
  &__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: @text-color-black;
  }
  &__sub{
    position: absolute;
    top: 70px;
    right: -105px;
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #F9F9F9;
    box-shadow: inset 0px 1px 4px rgba(206, 206, 206, 0.25);
    padding: 15px;
    display: flex;
    flex-flow: column;
    &-item{
      padding: 5px 0;
      transition: all 0.2s;
      &:hover{
        padding: 5px 0 5px 15px;
      }
      &:hover .menu__sub-link{
        color: @main-color;
      }
    }
    &-link{
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #555555;
    }
  }
}

/* TABS FORM */
.form-tabs{
  position: relative;
  background: url(../img/main/bg-form.jpg) no-repeat;
  background-size: cover;
  min-height: 363px;
  width: 100%;

  &__top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__bottom{
    padding-top: 40px;
    display: flex;
    align-items: center;
    gap: 70px;
  }

  &__bg{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

    img{
      width: 100%;
      display: block;
    }
  }
}

.form-tabs-top{
  &__item{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;

    &:not(:last-child){
      border-right:none;
    }

    &:hover,&--active{
      color:#ffffff;
      background: #303030;
      border: 1px solid #303030;
      cursor: pointer;
    }
  }
}

.form-tabs-bottom{

  &__title{
    font-weight: 400;
    font-size: 26px;
    line-height: 113%;
    color: #FFFFFF;
    max-width: 440px;
    width: 100%;
  }

  &__hr{
    margin:20px 0px 40px;
    width: 85px;
    height: 3px;
    background: #ffffff;
  }

  &__feedback{
    display: flex;
    box-sizing: border-box;
  }
}

.form-feedback{
  &__input{
    width: 205px;
    height: 55px;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 17px;
    line-height: 19px;
    border: 1px solid #F0F0F0;

    &::placeholder{
      color: #868686;
    }
  }

  &__button{
    width: 171px;
    height: 55px;
    padding: 0px;
  }
}

.tabs-bottom-right{
  &__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__socials{
    margin-top: 20px;
  }
}

@media (max-width: 1330px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 1170px) {
  .container {
    width: 980px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 765px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .container {
    width: 100%;
  }
  .modal_thanks {
    z-index: 999;
    width: 90%;
    padding: 55px 10px;
  }
  .modal {
    width: 90%;
    &_form {
      padding: 39px 10px;
    }
  }
}

